.divJSX {
    background-color: #93cdef;
}

.h2-App { background-color: #F0C752; }

.App {
    background-color: #83C34B;
}

.h2JSX { background-color: #5699B5; }

.span-app { color: antiquewhite; }

.div-welcome { background-color: #C1D1E8        ; }