.divJSX {
    background-color: royalblue;
}

.h2-App { background-color: rgb(255, 212, 71); }

.App {
    background-color: palevioletred;
}

.h2JSX { background-color: aquamarine; }

.span-app { color: antiquewhite; }